<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}Wild séries{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link href="https://fonts.googleapis.com/css?family=Changa|Sigmar+One|Viga&display=swap" rel="stylesheet">
        {% endblock %}
    {% endblock %}
</head>

<body>

<header>
    {% include 'navbar.html.twig' %}
</header>
{% block body %} {% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

</body>
</html>
