{% extends 'base.html.twig' %}

{% block title %}
    Wild séries, le meilleur site web sur les séries tv
{% endblock %}

{% block body %}
    <div class="container w-75 p-3 mt-2">
        <h1 class="main_title">Bienvenue sur Wild Séries !</h1>
        <p>Wild séries est votre meilleur allié pour trouver vos séries préférées !</p>
        <p>Vous pouvez gérer votre planning, partager vos derniers épisodes regardés, et découvrer des nouveautés...et bien d'autres choses !</p>
        <p>Vous êtes en plus entouré de la plus grosse communauté de wilders qui vous conseilleront sur les séries les plus wild à regarder !</p>
    </div>

{% endblock %}
